# 🌍 general params
app_name    = "contoso-mnlth"
environment = "Development"

# 🌐 Domain configuration
domain_name     = "qa-aws-ecs.mnlth.university.contoso.name"
route53_zone_id = "Z0123456789ABCDEFGHIJ"  # REPLACE with your Route 53 Zone ID

# 🔐 RDS credentials
db_username = "REPLACE_ME"
db_password = "REPLACE_ME"

# Migrator
db_init_script = "db-init.sql"

# local IP
local_ip = "REPLACE_ME"
