[*.cs]
dotnet_diagnostic.CA1707.severity = none # Identifiers should not contain underscores
dotnet_diagnostic.CA1861.severity = none # Avoid constant arrays as arguments
dotnet_diagnostic.CS8981.severity = none # The type name only contains lower-cased ascii characters
