services:
  web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_PORT=https://+:443;http://+:80
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=10001
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Test1234!
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pfx
      - SqlConnectionStringBuilder__DataSource=mssql
      - CoursesApiSettings__BaseUrl=http://courses-api
      - DepartmentsApiSettings__BaseUrl=http://departments-api
      - StudentsApiSettings__BaseUrl=http://students-api
    ports:
      - "10001:443"
      - "10000:80"

  courses-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_PORT=http://+:80
      - ASPNETCORE_URLS=http://+:80
      - SqlConnectionStringBuilder__DataSource=mssql
    ports:
      - "5006:80"
    volumes:
      - ~/.aspnet/https:/root/.aspnet/https:ro
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro

  departments-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_PORT=http://+:80
      - ASPNETCORE_URLS=http://+:80
      - SqlConnectionStringBuilder__DataSource=mssql
      - CoursesApiSettings__BaseUrl=http://courses-api
    ports:
      - "5079:80"
    volumes:
      - ~/.aspnet/https:/root/.aspnet/https:ro
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro

  departments-worker:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_PORT=http://+:80
      - ASPNETCORE_URLS=http://+:80
      - SqlConnectionStringBuilder__DataSource=mssql
    ports:
      - "5036:80"
    volumes:
      - ~/.aspnet/https:/root/.aspnet/https:ro
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro

  students-api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_PORT=http://+:80
      - ASPNETCORE_URLS=http://+:80
      - SqlConnectionStringBuilder__DataSource=mssql
    ports:
      - "5110:80"
    volumes:
      - ~/.aspnet/https:/root/.aspnet/https:ro
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro

  students-worker:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_PORT=http://+:80
      - ASPNETCORE_URLS=http://+:80
      - SqlConnectionStringBuilder__DataSource=mssql
    ports:
      - "5037:80"
    volumes:
      - ~/.aspnet/https:/root/.aspnet/https:ro
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
