networks:
  cunetwork:
    name: cunetwork

services:
  web:
    image: cuweb
    container_name: cuweb
    hostname: web
    depends_on:
      mssql:
        condition: service_healthy
      mssql-migrator:
        condition: service_completed_successfully
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://dashboard:18889
    healthcheck:
      test: curl --fail http://localhost:80/health/readiness || exit 1
      interval: 5s
      timeout: 5s
      retries: 5
    build:
      context: .
      dockerfile: src/ContosoUniversity.Mvc/Dockerfile
    networks:
      - cunetwork

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    container_name: dashboard
    hostname: dashboard
    ports:
      - 18888:18888
      - 18889:18889
      - 18890:18890
    networks:
      - cunetwork

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    networks:
      - cunetwork

  otel-collector:
    image: otel/opentelemetry-collector
    container_name: otel-collector
    hostname: otel-collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://dashboard:18889
    networks:
      - cunetwork

  mssql:
    image: mcr.microsoft.com/mssql/server
    container_name: mssql
    hostname: mssql
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: <YourStrong!Passw0rd>
    ports:
      - 1477:1433
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P '<YourStrong!Passw0rd>' -Q "SELECT 1" -C
      interval: 2s
      timeout: 5s
      retries: 10
      start_period: 5s
    networks:
      - cunetwork

  mssql-migrator:
    image: mssql-migrator
    container_name: mssql-migrator
    build:
      context: ../../database
      args:
        DB_HOST: mssql
        DB_USER: sa
        DB_PASSWORD: <YourStrong!Passw0rd>
        INIT_SCRIPT: db-init.sql
    depends_on:
      mssql:
        condition: service_healthy
    networks:
      - cunetwork
